.b{
  background-color:#682c0e;
  color: #fdb827;
  font-size: 25px;
  padding: 15px 30px;
}
.t{
  font-size: 25px;
}
.h{
  font-size: 30px;
  color: #aa3a3a;
}

body{
  background-color:#bbbfca;
}
